.chat__dialog .info{
    display: flex;
    align-items: center;
}
.chat__dialog .phone-edit{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.info-item {
    margin-right: 15px;
}
.chat__list-item {
    align-items: baseline!important;
    cursor: pointer!important;
    flex-direction: column;
}
.chat__list-item.selected-chat {
    background: #dfdfdf42;
    font-size: 16px;
}

.link-wrap{
    display: flex;
    padding-bottom: 10px;
}
.link{
    margin-right: 15px;
}
